
# Build Outputs #
#################
/*/build
/*/bin
/out
/*/out
/target
/classes
**/classes
.gradle

# IDE folders #
###############
# Intellij
.idea
*.iws
*.iml
*.ipr

# personal local propertiefiles #
#################################
build/*
!/src/test/resources/browserDrivers/*.exe
DEBUG
out/*
test-output/
/src/test/resources/apps/*.apk
*.apk
*.ipa
/*/build/allure-results
allure-results/*
src/test/resources/configfiles/local.properties
bin/
local.properties